.slide-item {
    width: 40rem;
    height: 22rem;
    object-fit: cover;
    border-radius: 20px;
}

.slide-box {
    width: 40rem;
    height: 24rem;
}

/* Altera a cor das bolinhas da paginação (dots) */
.swiper-pagination-bullet {
    background-color: #8A00DE !important; /* Cor das bolinhas */
    width: 8px !important; /* Largura das bolinhas */
    height: 8px !important; /* Altura das bolinhas */
    margin: 0 5px !important;
    border-radius: 50% !important; /* Deixa as bolinhas arredondadas */
}

/* RESPONSIVO */

/* CRIADO PORQUE O TEXTO ESTAVA POR BAIXO DO CARROSSEL */
@media screen and (max-width: 1480px){
    .slide-item {
        width: 34rem;
        height: 18rem;
        object-fit: cover;
        border-radius: 20px;
    }
    
    .slide-box {
        width: 34rem;
        height: 20rem;
    }
}

@media screen and (max-width: 1200px){
}

@media screen and (max-width: 1024px){
    .slide-item {
        width: 30rem;
        height: 16rem;
        border-radius: 15px;
    }
    
    .slide-box {
        width: 30rem;
        height: 18rem;
    }
}

/* Tamanho para deixar  */
@media screen and (max-width: 840px){
    .slide-item {
        width: 45rem;
        height: 25rem;
    }
    
    .slide-box {
        width: 45rem;
        height: 25rem;
    }
}

@media screen and (max-width: 768px){
    .slide-item {
        width: 36rem;
        height: 20rem;
    }
    
    .slide-box {
        width: 36rem;
        height: 20rem;
    }
}

/* Só para testar*/
@media screen and (max-width: 560px){
    .slide-item {
        width: 30rem;
        height: 12rem;
    }
    
    .slide-box {
        width: 30rem;
        height: 12rem;
    }
    
}

@media screen and (max-width: 480px){
	
}

@media screen and (max-width: 320px){
	
}

@media screen and (max-width: 280px){
	
}