fieldset {
    border: none; /* Remove a borda */
    margin: 0; /* Remove a margem */
    padding: 0; /* Remove o preenchimento */
    /* Defina outras propriedades de estilo conforme necessário */
}


#sessaoMeusDados{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0 10rem 0 10rem;

    #informacoesSessao{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h1 {
        font-size: 24px;
        color: #FF7D1E;
        font-weight: 700;

    }

    h3 {
        color: #FF7D1E; 
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    h2{
        background-color: #B741FF;
        padding: 0.5rem 1rem;
        border-radius: 30px; 
        font-size: 26px;
        color: #FFffff;
        font-weight: 600;
        text-align: center;
    }

    a{
        p{
            color: #7900C3;
        }
    }

    
}

#imageCarrossel{
    object-fit: cover;
    aspect-ratio: 16/9 !important;
    width: 18rem !important;
    border-radius: 15px;
}

#imageProduto{
    height: 10rem !important;
    width: 10rem !important;
    aspect-ratio: cover !important;
    border-radius: 15px;
}


#minhaVitrine{

    #boxEditVitrine{
        flex-direction: column !important;
        padding: 2rem 10rem !important;
        justify-content: space-between;
        width: 100%;
        gap: 3rem;

        #editCarrossel{
            display: flex;
            gap: 2rem;
            justify-content: space-between;
            width: 100%;

           #addImgCarrossel{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 20rem;
                align-items: flex-start;

                legend{
                    color: #FFE1CC;
                    font-weight: 700;
                    font-size: 18px;
                }

                .imagem:hover{
                    color: #9b6cb8;
                }

                .imagem{
                    width: 18rem;
                    /* height: 9rem; */
                    aspect-ratio: 16/9;
                    border-radius: 15px;
                    border: none;
                    background-color: #EBCBFF;
                    color: #B695CA;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor:pointer;
                    border: 2px dashed;

                    
                    #imagemInput{
                        display: none;
                    }

                    .pictureImg{
                        max-width: 100%;
                    }

                    span{
                        /* color: #B695CA; */
                        font-weight: 600;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        align-items: center;
                        justify-content: center;
                        width: 100%;

                        img{
                            width: 100%;

                        }
                    }
                }

                /* input{
                    width: 18rem;
                    height: 9rem;
                    border-radius: 15px;
                    border: none;
                    background-color: #EBCBFF;
                } */

                

                button{
                    background-color: #FFA767;
                    color: #ffffff;
                    font-weight: 600;
                    padding: 0.5rem 0.15rem;
                    width: 15rem;
                }
           } 
        }
    }



    #editProdutos{
        display: flex;
        justify-content: space-between;
        width: 100%;

        input:focus{
            outline: 1px solid #B695CA;
        }
          

        h3{
            color: #FFE1CC;
            font-size: 18px
        }

        #addProdutos{

            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            button{
                background-color: #FFA767;
                color: #ffffff;
                font-weight: 600;
                padding: 0.5rem 0.15rem;
                width: 15rem;
            }

            .imagemProduto{
                width: 10rem;
                height: 10rem;
                aspect-ratio: cover;
                border-radius: 15px;
                border: none;
                background-color: #EBCBFF;
                color: #B695CA;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor:pointer;
                border: 2px dashed;

                input{
                    display: none;
                }
 
            }
            
            
            #imgCamposProduto{
                display: flex;
                gap: 1rem;
            }

            #inputImg {
                background-color: #EBCBFF;
                width: 10rem;
                height: 10rem;
                border-radius: 15px;
            }

            #campos{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: space-between
            }

            fieldset{
                width: 100%;
                display: flex;
                flex-direction: column;

                legend{
                    color: #ffffff;
                    font-weight: 600;
                }

                input{
                    margin-top: 0.5rem;
                    border-radius: 30px;
                    background-color: #7900C3;
                    border: none;
                    padding: 0.5rem 1rem;
                    color:#EBCBFF;
                    width: 100%;
                }

                #precoProduto {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }

            }

        }

    }

    #editBiografia {
        width: 100%;

        #addBiografia{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            legend{
                color: #FFE1CC;
                font-size: 18px;
                font-weight: 700;
            }

            textarea{
                border-radius: 15px;
                /* max-height: 5rem;
                min-height: 5rem;
                max-width: 100%;
                min-width: 100%; */
                resize: none;
                margin-top: 0.5rem;
                border-radius: 15px;
                background-color: #ffffff;
                border: none;
                padding: 1rem 1rem;
                color:#7d7d7d;
            }

            button{
                background-color: #FFA767;
                color: #ffffff;
                font-weight: 600;
                padding: 0.5rem 0.15rem;
                width: 15rem;
            }
        }

        
    }

    #editAlcance{
        form{
            display: flex;
            flex-direction: column;
            gap: 1rem
        }

        legend{
            color: #FFE1CC;
            font-size: 18px;
            font-weight: 700;
        }

        input{
            margin-top: 0.5rem;
            border-radius: 30px;
            background-color: #ffffff;
            border: none;
            padding: 0.5rem 1rem;
            color:#7e7e7e;
            width: 100%;
        }

        p{
            text-align: start;
            color: #EBCBFF;

        }

        button{
            background-color: #FFA767;
            color: #ffffff;
            font-weight: 600;
            padding: 0.5rem 0.15rem;
            width: 10rem;
        }
    }
}

#linhaRoxa{
    border-color: #B741FF;
    border: 3px solid #B741FF;
}

#areaDepoimentos{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 4rem;

    #tituloAreaDepoimentos {
        background-color: #FF7D1E;
        /* margin-top, margin-right, margin-bottom, e margin-left. */
        /* margin: 0em 30em 1em 0em; */
        /* width: 50%; */
        padding: 0.75rem;
        color: #FFFFFF;
        border-top-right-radius: 10em;
        border-bottom-right-radius: 10em;
        margin-top: 1rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: flex-start;

        h2 {
            color: #FFFFFF;
            font-size: 30px;
            text-align: start;
            padding-left: 10rem;
            padding-right: 2rem;
        }
    }

    #formDepoimento {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 10rem;
        gap: 1rem;

        label{
            color: #B741FF;
            align-self: flex-start;
            font-weight: 500;
        }

        textarea{
            width: 100%;
            margin: 0 10rem;
            padding: 1rem;
            background-color: #ffffff;
            border-radius: 15px;
            border:none;
            outline: 1px solid #e1c5b1;
            resize: none;

        }

        #blocoAvaliacao{
            display: flex;
            flex-direction: row !important;
            width: 100%;
            align-items: center;
            gap: 1.5rem;

            h3{
                color: #FFA15D;
                margin-top: 0.5rem;
            }
        }
        #starAvaliacao{
            display: flex;
            flex-direction: row-reverse;
            gap: 1rem;
            
            input[type="radio"] {
                display: none;
            }

            .starIcon{
                border: none;
                cursor: pointer;
                color: #ffdfc9;
                font-size: 40px;
                display: inline-block;
            }

            .starIcon::before{
                content: "\2605";
            }

            input[type="radio"]:checked ~ .starIcon {
                content: "\2605";
                color: #fc6500;

            }
        }

        .avaliacaoPlataforma{
            display: flex;
            flex-direction: row;
            gap: 0.75rem;
            
            .star-icon{
                list-style-type: none;
                border: 1px solid #fff;
                cursor: pointer;
                color: #ffe500;
                font-size: 40px;/* alterar o tamanho das estrelas */
            }
            .star-icon::before{
                content: "\2605";
            }
            
            
            .avaliacaoPlataforma:hover .star-icon::before{
                content: "\2605";
            
            }
            .star-icon:hover ~ .star-icon::before{
                content: "\2606";
            }
        }
          
        button{
            background-color: #FF7D1E;
            color: #ffffff;
            font-weight: 600;
            padding: 0.5rem 0.15rem;
            width: 20rem;
            align-self: flex-end;
        }
    }
    

}





#produtoCadastrado{
    border: 1px solid #FFE1CC;
    padding: 0.75rem;
    border-radius: 15px;
    width: 12rem;
    gap: 1rem;

    #infosProduto{
        display: flex;
        flex-direction: column;
        align-items: start;

        img {
            width: 10rem;
            height: 10rem;
            border-radius: 15px;
        }

        h4 {
            font-weight: 500;
            color: #ffffff;
        }

        #precoProduto {
            display: flex;
            flex-direction: row;
            gap: 0.25rem;
            font-weight: 700;
        }
    }

    #botoesAlterar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        button{
            background: transparent;

            img{
                width: 2rem;
            }
        }

        button:hover {
            cursor: pointer;
        }
    }
}


/* Para pegar nos dois botões*/
.botaoExcluir {
    background-color: #FF7D1E !important;
    padding: 0.5rem;

    img {
        width: 1.15rem !important;
    }
}

.botaoExcluir:hover {
    background-color: #FFA767 !important;
    transition: 0.2s;
}

#imgCadastrada{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 20rem;
    border: 1px solid #FFE1CC;
    padding: 0.75rem;
    border-radius: 15px;

    img{
        width: 18rem;
        border-radius: 15px;
    }

    button {
        align-self: end;
    }
}











/* --------------------------- */

/* .avaliacaoPlataforma{
    display: flex;
   }
  .star-icon{
    list-style-type: none;
    border: 1px solid #fff;
    cursor: pointer;
    color: #ffe500;
    font-size: 40px;
  }
  .star-icon::before{
    content: "\2605";
  }
  .star-icon.ativo ~ .star-icon::before{
    content: "\2606";
  }
  .avaliacao:hover .star-icon::before{
    content: "\2605";
  }
  .star-icon:hover ~ .star-icon::before{
    content: "\2606";
  } */