fieldset {
    border: none; /* Remove a borda */
    margin: 0; /* Remove a margem */
    padding: 0; /* Remove o preenchimento */
    /* Defina outras propriedades de estilo conforme necessário */
}




#sessaoMeusDados{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5rem;
    padding: 0 10rem 0 10rem;

    #informacoesSessao{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h1 {
        font-size: 24px;
        color: #FF7D1E;
        font-weight: 700;

    }

    h3 {
        color: #FF7D1E; 
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    h2{
        background-color: #B741FF;
        padding: 0.5rem 1rem;
        border-radius: 30px; 
        font-size: 26px;
        color: #FFffff;
        font-weight: 600;
        text-align: center;
    }

    a{
        p{
            color: #7900C3;
        }
    }

    
}

#imageCarrossel{
    object-fit: cover;
    aspect-ratio: 16/9 !important;
    width: 18rem !important;
    border-radius: 15px;
}

#imageProduto{
    height: 10rem !important;
    width: 10rem !important;
    aspect-ratio: cover !important;
    border-radius: 15px;
}


#minhaVitrine{

    #boxEditVitrine{
        flex-direction: column !important;
        padding: 2rem 10rem;
        justify-content: space-between;
        width: 100%;
        gap: 3rem;

        #editCarrossel{
            display: flex;
            gap: 2rem;
            justify-content: space-between;
            width: 100%;

           #addImgCarrossel{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 20rem;
                align-items: flex-start;

                legend{
                    color: #FFE1CC;
                    font-weight: 700;
                    font-size: 18px;
                }

                .imagem:hover{
                    color: #9b6cb8;
                }

                .imagem{
                    width: 18rem;
                    /* height: 9rem; */
                    aspect-ratio: 16/9;
                    border-radius: 15px;
                    border: none;
                    background-color: #EBCBFF;
                    color: #B695CA;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor:pointer;
                    border: 2px dashed;

                    
                    #imagemInput{
                        display: none;
                    }

                    .pictureImg{
                        max-width: 100%;
                    }

                    span{
                        /* color: #B695CA; */
                        font-weight: 600;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        align-items: center;
                        justify-content: center;
                        width: 100%;

                        img{
                            width: 100%;

                        }
                    }
                }

                /* input{
                    width: 18rem;
                    height: 9rem;
                    border-radius: 15px;
                    border: none;
                    background-color: #EBCBFF;
                } */

                

                button{
                    background-color: #FFA767;
                    color: #ffffff;
                    font-weight: 600;
                    padding: 0.5rem 0.15rem;
                    width: 15rem;
                }
           } 
        }
    }



    #editProdutos{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        gap: 2rem;

        input:focus{
            outline: 1px solid #B695CA;
        }

        .itensCadastrados{
            display:flex;
            flex-direction: row;
            /* justify-content: space-between; */
            gap: 2rem;
            /* flex-wrap: wrap; */
            /* background-color: red; */
            width: 100%;
            /* display: flex; */
            /* flex-direction: row; */
            justify-content: flex-start; /* Para alinhar os itens ao início */
            /* gap: 1.5rem; */
            overflow-x: auto; /* Adiciona o scrollbar horizontal */
            white-space: nowrap; /* Impede que os itens quebrem a linha */
            /* width: 100%; */
        }

        h3{
            color: #FFE1CC;
            font-size: 18px
        }

        #addProdutos{

            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            button{
                background-color: #FFA767;
                color: #ffffff;
                font-weight: 600;
                padding: 0.5rem 0.15rem;
                width: 15rem;
            }

            .imagemProduto{
                width: 10rem;
                height: 10rem;
                aspect-ratio: cover;
                border-radius: 15px;
                border: none;
                background-color: #EBCBFF;
                color: #B695CA;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor:pointer;
                border: 2px dashed;

                input{
                    display: none;
                }
 
            }
            
            
            #imgCamposProduto{
                display: flex;
                gap: 1rem;
            }

            #inputImg {
                background-color: #EBCBFF;
                width: 10rem;
                height: 10rem;
                border-radius: 15px;
            }

            #campos{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: space-between
            }

            fieldset{
                width: 100%;
                display: flex;
                flex-direction: column;

                legend{
                    color: #ffffff;
                    font-weight: 600;
                }

                input{
                    margin-top: 0.5rem;
                    border-radius: 30px;
                    background-color: #7900C3;
                    border: none;
                    padding: 0.5rem 1rem;
                    color:#EBCBFF;
                    width: 100%;
                }

                #precoProduto {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }

            }

        }

    }

    #editBiografia {
        width: 100%;

        #addBiografia{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            legend{
                color: #FFE1CC;
                font-size: 18px;
                font-weight: 700;
            }

            textarea{
                border-radius: 15px;
                /* max-height: 5rem;
                min-height: 5rem;
                max-width: 100%;
                min-width: 100%; */
                resize: none;
                margin-top: 0.5rem;
                border-radius: 15px;
                background-color: #ffffff;
                border: none;
                padding: 1rem 1rem;
                color:#7d7d7d;
            }

            button{
                background-color: #FFA767;
                color: #ffffff;
                font-weight: 600;
                padding: 0.5rem 0.15rem;
                width: 15rem;
            }
        }

        
    }

    #editAlcance{
        form{
            display: flex;
            flex-direction: column;
            gap: 1rem
        }

        legend{
            color: #FFE1CC;
            font-size: 18px;
            font-weight: 700;
        }

        input{
            margin-top: 0.5rem;
            border-radius: 30px;
            background-color: #ffffff;
            border: none;
            padding: 0.5rem 1rem;
            color:#7e7e7e;
            width: 100%;
        }

        p{
            text-align: start;
            color: #EBCBFF;

        }

        button{
            background-color: #FFA767;
            color: #ffffff;
            font-weight: 600;
            padding: 0.5rem 0.15rem;
            width: 10rem;
        }
    }
}

#linhaRoxa{
    border-color: #B741FF;
    border: 3px solid #B741FF;
}

#areaDepoimentos{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 4rem;

    #tituloAreaDepoimentos {
        background-color: #FF7D1E;
        /* margin-top, margin-right, margin-bottom, e margin-left. */
        /* margin: 0em 30em 1em 0em; */
        /* width: 50%; */
        padding: 0.75rem;
        color: #FFFFFF;
        border-top-right-radius: 10em;
        border-bottom-right-radius: 10em;
        margin-top: 1rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: flex-start;

        h2 {
            color: #FFFFFF;
            font-size: 30px;
            text-align: start;
            padding-left: 10rem;
            padding-right: 2rem;
        }
    }

    #formDepoimento {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 10rem;
        gap: 1rem;

        label{
            color: #B741FF;
            align-self: flex-start;
            font-weight: 500;
        }

        textarea{
            width: 100%;
            margin: 0 10rem;
            padding: 1rem;
            background-color: #ffffff;
            border-radius: 15px;
            border:none;
            outline: 1px solid #e1c5b1;
            resize: none;

        }

        #blocoAvaliacao{
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            gap: 1.5rem;

            h3{
                color: #FFA15D;
                margin-top: 0.5rem;
            }
        }
        #starAvaliacao{
            display: flex;
            flex-direction: row-reverse;
            gap: 1rem;
            
            input[type="radio"] {
                display: none;
            }

            .starIcon{
                border: none;
                cursor: pointer;
                color: #ffdfc9;
                font-size: 40px;
                display: inline-block;
            }

            .starIcon::before{
                content: "\2605";
            }

            input[type="radio"]:checked ~ .starIcon {
                content: "\2605";
                color: #fc6500;

            }
        }

        .avaliacaoPlataforma{
            display: flex;
            flex-direction: row;
            gap: 0.75rem;
            
            .star-icon{
                list-style-type: none;
                border: 1px solid #fff;
                cursor: pointer;
                color: #ffe500;
                font-size: 40px;/* alterar o tamanho das estrelas */
            }
            .star-icon::before{
                content: "\2605";
            }
            
            
            .avaliacaoPlataforma:hover .star-icon::before{
                content: "\2605";
            
            }
            .star-icon:hover ~ .star-icon::before{
                content: "\2606";
            }
        }
          
        button{
            background-color: #FF7D1E;
            color: #ffffff;
            font-weight: 600;
            padding: 0.5rem 0.15rem;
            width: 20rem;
            align-self: flex-end;
        }
    }
    

}

#visualizarAlterarProduto{
    display:flex;
    flex-direction: row;
}

#alterarProduto{
    display: flex;
    flex: row;
    background-color: rgba(80, 23, 115, 0.562);
    padding-left: 1rem;
    padding: 0.75rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    legend{
        font-size: 11px !important;
    }
}

#precoNomeProduto{
    display:flex;
    flex-direction: row;
    gap: 1rem;
}

#tituloAlterar{
    font-size: 15px;
    color:#ffba88
}

#divBotoesUp{
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}

.botoesUpdate{
    padding: 0.15rem 1.15rem 0.15rem 1.15rem  !important;
    background-color: #FF7D1E !important;
    width: auto !important;
    font-size: 11px !important;
}

#produtoCadastrado{
    border: 1px solid #FFE1CC;
    padding: 0.75rem;
    border-radius: 15px;
    width: 12rem;
    gap: 1rem;

    #infosProduto{
        display: flex;
        flex-direction: column;
        align-items: start;

        img {
            width: 10rem;
            height: 10rem;
            border-radius: 15px;
        }

        h4 {
            font-weight: 500;
            color: #ffffff;
        }

        #precoProduto {
            display: flex;
            flex-direction: row;
            gap: 0.25rem;
            font-weight: 700;
        }
    }

    #botoesAlterar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        button{
            background: transparent;

            img{
                width: 2rem;
            }
        }

        button:hover {
            cursor: pointer;
        }
    }
}


/* Para pegar nos dois botões*/
.botaoExcluir {
    background-color: #FF7D1E !important;
    padding: 0.5rem;

    img {
        width: 1.15rem !important;
    }
}

.botaoExcluir:hover {
    background-color: #FFA767 !important;
    transition: 0.2s;
}

#imgCadastrada{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 20rem;
    border: 1px solid #FFE1CC;
    padding: 0.75rem;
    border-radius: 15px;

    img{
        width: 18rem;
        border-radius: 15px;
    }

    button {
        align-self: end;
    }
}











/* ---RESPONSIVO--- */
@media screen and (max-width: 1200px){
    /*CSS com os novos tamanhos/proporções*/
    
    /* Margin para manter a estrutura centralizada
    - Colocar nas divs ou sections que possuem uma sessão
    - Não sabe oque seria uma sessão? Falar com Keylane
    - Caso o margin não tenha efeito ou não centralize como
    esperado usar o padding com  as mesmas medidas. */
    #sessaoMeusDados{
        padding: 0 10rem;
        margin-bottom: 3rem;
    }

    #boxEditVitrine{
        flex-direction: column !important;
        padding: 2rem 10rem !important;
        justify-content: space-between;
        width: 100%;
        gap: 3rem;

        .imagem{
            width: 14rem !important;
        }
    }

    #imgCadastrada {

        width: 16rem;

        #imgCadCarrossel{
            width: 14rem !important;        
        }
    }

    .botaoExcluir {
        background-color: #FF7D1E !important;
        padding: 0.25rem !important;

        img {
            width: 1rem !important;
        }
    }

    #addProdutos {
        width: 50%;

        .imagemProduto{
            width: 8rem !important;
            height: 8rem !important;
            aspect-ratio: cover;
        }

        #campos{
            input{
                /* width: 12rem !important; */
            }
            legend{
                font-size: 14px;
            }
        }
    }

    #produtoCadastrado{
        border: 1px solid #FFE1CC;
        padding: 0.75rem;
        border-radius: 15px;
        width: 10rem;
        gap: 1rem;

        #iconEditar{
            width: 1.5rem !important;
        }
    
    }

    #infosProduto{

        img {
            width: 8rem !important;
            height: 8rem !important;
            border-radius: 15px;
        }

        h4 {
            font-weight: 500;
            color: #ffffff;
        }

        #precoProduto {
            display: flex;
            flex-direction: row;
            gap: 0.25rem;
            font-weight: 700;
        }
    }

    #formDepoimento{
        padding: 0 10rem;
    }
    
}
    
@media screen and (max-width: 1024px){
    /*CSS com os novos tamanhos/proporções*/
    
    /* Margin ou padding para manter a estrutura padrão */
    #sessaoMeusDados{
        padding: 0rem 8rem;
    }

    #boxEditVitrine{
        flex-direction: column !important;
        padding: 2rem 8rem !important;

        justify-content: space-between;
        width: 100%;
        gap: 3rem;
    }

    #formDepoimento{
        padding: 0 8rem !important;
    }

    #tituloAreaDepoimentos {

        h2 {
            color: #FFFFFF;
            font-size: 28px !important;
            text-align: start;
            padding-left: 8rem !important;
            padding-right: 2rem;
        }
    }
    
}
    
/* Media Querie especifica para manter a estrutura */
@media screen and (max-width: 920px){
    /* Margin ou padding para manter a estrutura padrão */
    #sessaoMeusDados{
        padding: 0rem 5rem !important;
    }
    #boxEditVitrine{
        flex-direction: column !important;
        padding: 1rem 5rem !important;
        justify-content: space-between;
        width: 100%;
        gap: 3rem;
    }

    #formDepoimento{
        padding: 0 5rem !important;

    }

    #tituloAreaDepoimentos {

        h2 {
            color: #FFFFFF;
            font-size: 26px !important;
            text-align: start;
            padding-left: 5rem !important;
            padding-right: 2rem;
        }
    }

    
}
    
@media screen and (max-width: 768px){
    /*CSS com os novos tamanhos/proporções*/
    #sessaoMeusDados{
        padding: 0rem 2rem;
        flex-direction: column;
    }

    #boxEditVitrine{
        flex-direction: column !important;
        padding: 0.75rem 2rem !important;
        justify-content: space-between;
        width: 100%;
        gap: 3rem;

        .imagem{
            width: 12rem !important;
        }
    }


    #imgCadastrada {

        width: 14rem;

        #imgCadCarrossel{
            width: 12rem !important;        
        }

        
    }

    .botaoExcluir {
        background-color: #FF7D1E !important;
        padding: 0.25rem;

        img {
            width: 1rem !important;
        }
    }

    #editProdutos{
        flex-direction: column !important;
        gap: 2rem
    }

    #addProdutos {
        width: 100%;
        flex-direction: column !important;


        #imgCamposProduto{
            flex-direction: row;
            align-items: center;
            justify-content: center;

        }

        .imagemProduto{
            width: 6rem !important;
            height: 6rem !important;
            aspect-ratio: cover;
        }

        #campos{
            input{
                /* width: 12rem !important; */
            }
            legend{
                font-size: 14px;
            }
        }
    }

    #produtoCadastrado{
        border: 1px solid #FFE1CC;
        padding: 0.75rem;
        border-radius: 15px;
        width: 8rem;
        gap: 1rem;

        #iconEditar{
            width: 1.5rem !important;
        }
    
    }

    #infosProduto{

        img {
            width: 6rem !important;
            height: 6rem !important;
            border-radius: 15px;
        }

        h4 {
            font-weight: 500;
            color: #ffffff;
        }

        #precoProduto {
            display: flex;
            flex-direction: row;
            gap: 0.25rem;
            font-weight: 700;
        }
    }


    #formDepoimento{
        padding: 0 2rem !important;

        label{
            align-self: flex-start;
            font-weight: 500;
            font-size: 14px !important;
        }

        .starIcon{
            font-size: 30px !important;
        }

        #blocoAvaliacao{
            flex-direction: column !important;
            align-items: flex-start !important;
            gap: 0rem !important;

            h3{
                font-size: 14px;
            }
        }
    }

    #tituloAreaDepoimentos {

        h2 {
            color: #FFFFFF;
            font-size: 24px !important;
            text-align: start;
            padding-left: 2rem !important;
            padding-right: 1rem;
        }
    }
}
    
@media screen and (max-width: 560px){
/*CSS com os novos tamanhos/proporções*/
    
    /* Margin ou padding para manter a estrutura padrão */
    #sessaoMeusDados{
        padding: 0rem 2rem;
    }

    #boxEditVitrine{
        flex-direction: column !important;
        padding: 0.75rem 2rem !important;
        justify-content: space-between;
        width: 100%;
        gap: 3rem;
        
        #editCarrossel{
            flex-direction: column;
        }

        .imagem{
            width: 10rem !important;
        }
    }

    #imgCadastrada {

        width: 12rem !important;

        #imgCadCarrossel{
            width: 10rem !important;        
        }

        
    }

    .botaoExcluir {
        background-color: #FF7D1E !important;
        padding: 0.15rem;

        img {
            width: 0.75rem !important;
        }
    }

    button[type=submit]{
        background-color: #FFA767;
        color: #ffffff;
        font-weight: 600;
        font-size: 12px !important;
        padding: 0.35rem 1rem !important;
        width: auto !important;
    }

    #editProdutos{
        flex-direction: column !important;
        gap: 2rem;
    }

    #addProdutos {
        width: 100%;
        flex-direction: column !important;


        #imgCamposProduto{
            flex-direction: row;
            align-items: center;
            justify-content: center;

        }

        .imagemProduto{
            width: 5rem !important;
            height: 5rem !important;
            aspect-ratio: cover;
        }

        #campos{
            input{
                /* width: 12rem !important; */
            }
            legend{
                font-size: 14px;
            }
        }
    }

    #produtoCadastrado{
        border: 1px solid #FFE1CC;
        padding: 0.75rem;
        border-radius: 15px;
        width: 6rem;
        gap: 1rem;

        #iconEditar{
            width: 1.5rem !important;
        }
    
    }

    #infosProduto{

        img {
            width: 5rem !important;
            height: 5rem !important;
            border-radius: 15px;
        }

        h4 {
            font-size: 14px !important;
            font-weight: 500;
            color: #ffffff;
        }

        #precoProduto {
            display: flex;
            flex-direction: row;
            gap: 0.25rem;
            font-weight: 700;

            p{
                font-size: 12px !important;
            }
        }

        
    }

    #botoesAlterar{
        button{
            width: 1.5rem;
            height: 1.75rem;

            #iconEditar{
                width: 1rem !important;
            }
        }
    }

    #formDepoimento{
        padding: 0 2rem !important;
    }
}
    
@media screen and (max-width: 480px){
    /*CSS com os novos tamanhos/proporções*/
    

}
    
@media screen and (max-width: 320px){
    /*CSS com os novos tamanhos/proporções*/
    
    /* Margin ou padding para manter a estrutura padrão */
    #sessaoMeusDados{
        padding: 0rem 0.5rem;
    }

    #boxEditVitrine{
        flex-direction: column !important;
        padding: 0.5rem !important;
        justify-content: space-between;
        width: 100%;
        gap: 3rem;
    }

    #formDepoimento{
        padding: 0 0.5rem !important;
    }

    #tituloAreaDepoimentos {

        h2 {
            color: #FFFFFF;
            font-size: 20px !important;
            text-align: start;
            padding-left: 0.5rem !important;
            padding-right: 0.25rem;
        }
    }
}
    
@media screen and (max-width: 280px){
/*CSS com os novos tamanhos/proporções*/
}




/* Customizando a barra de rolagem para navegadores WebKit */
::-webkit-scrollbar {
    /* margin-top: 1rem !important; */
    width: 5px; /* Largura da scrollbar */
}

::-webkit-scrollbar-track {
    background: #8A00DE; /* Cor do fundo da track */
    border-radius: 10px; /* Arredondando a track */
}

::-webkit-scrollbar-thumb {
    background: #ae51e8; /* Cor do thumb (parte que você arrasta) */
    border-radius: 10px; /* Arredondando o thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #FFA767; /* Cor do thumb ao passar o mouse */
}



