/*Titulo do Box e suas variações*/
.titleBox {
    padding-left: 6rem;
    padding-right: 6rem;
    border-radius: 40px;
    padding-top: 1rem;
    text-align: center;
    z-index: 1;
}
#titleBoxLaranja{ background-color: #FFE1CC; }
#titleBoxRoxo{ background-color: #8A00DE; }
#titleBoxBranco{ background-color: #ffffff; }

/*H1 do Titulo do Box e suas variações*/
.titleBox h1{ 
    font-size: 30px; 
}
#titleBoxLaranja h1{ color: #8A00DE !important; }
#titleBoxRoxo h1{ color: #FFC79E !important; }
#titleBoxBranco h1{ color: #FF7D1E !important; }

/*Divisor e suas variações*/
.divisor {
    padding-top: 3rem;
    width: 100%;
    margin-top: -30px;
}
#divisorRoxo { background-color: #8A00DE; }
#divisorLaranja { background-color: #FFE1CC; }
#divisorBranco { background-color: #ffffff; 
                border-top-left-radius: 20px; border-top-right-radius: 20px;}

section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /*Para o efeito alcançar toda a pagina*/
}

/* RESPONSIVO */

/* Alterações para o modal login*/
@media screen and (max-width: 1822px){
   #loginBox .titleBox h1{ 
        font-size: 30px; 
    }

    #loginBox  .titleBox {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    #esqueciBox .titleBox h1{ 
        font-size: 30px; 
    }

    #esqueciBox  .titleBox {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    #changeBox.titleBox {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

@media screen and (max-width: 1470px){
    #loginBox   .titleBox {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    #esqueciBox   .titleBox {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    #changeBox .titleBox {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}


@media screen and (max-width: 1314px){
    #loginBox   .titleBox {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    #esqueciBox   .titleBox {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    #esqueciBox   .changeBox {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
/* Alteração para o modal login*/
@media screen and (max-width: 1200px){
    #loginBox  .titleBox {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    #esqueciBox  .titleBox {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media screen and (max-width: 1024px){
}

/*Deixando o boxInfo do esqueciSenha igual ao corpo dele*/
@media screen and (max-width: 970px){
    #esqueciBox  .titleBox {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

/*Aletando medidas exclusivamente para o changeBox*/

@media screen and (max-width: 911px){
    #changeBox .titleBox h1{ 
        font-size: 30px; 
        color: #8A00DE;
    }

    #changeBox  .titleBox {
        padding-left: 3rem;
        padding-right: 3rem;
        transition: .5s ;
    }
}

/*Deixando o boxInfo do esqueciSenha igual ao corpo dele*/
@media screen and (max-width: 898px){
    #esqueciBox  .titleBox {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 834px){
    
    #loginBox   .titleBox h1{ 
        font-size: 30px;
    }

    #loginBox  .titleBox {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    #esqueciBox .titleBox h1{ 
        font-size: 30px;
    }

    #changeBox .titleBox {
        padding-left: 2rem;
        padding-right: 2rem;
      
    }

}

@media screen and (max-width: 794px){
    
    #loginBox .titleBox h1{ 
        font-size: 30px; 
    }

    #loginBox .titleBox {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    #esqueciBox .titleBox h1{ 
        font-size: 30px; 
    }

    #esqueciBox  .titleBox {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

}

@media screen and (max-width: 768px){
    
    #loginBox .titleBox h1{ 
        font-size: 25px; 
    }

    #loginBox  .titleBox {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    #esqueciBox .titleBox h1{ 
        font-size: 25px; 
    }

 
}

@media screen and (max-width: 678px){
  

    #esqueciBox .titleBox h1{ 
        font-size: 20px; 
    }
    
    #esqueciBox .titleBox {
        padding-left: 1rem;
        padding-right: 1rem;
    }

 
    #changeBox .titleBox h1{ 
        font-size: 25px; 
    }
    #changeBox .titleBox {
        padding-left: .7rem;
        padding-right: .7rem;
        transition: .5s ;
    }
}

@media screen and (max-width: 560px){
    #loginBox .titleBox {
        padding-left: 3rem;
        padding-right: 3rem;
    }

}

@media screen and (max-width: 480px){
   
}

@media screen and (max-width: 320px){
	
}

@media screen and (max-width: 280px){
	
}






