@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:wght@100..900&display=swap');

.boxInformations {
    display: flex !important;
    flex-direction: row !important;
    padding-left: 10rem;
    padding-right: 10rem;
}

#chamada {
    color: #8A00DE;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

#chamada p{
    background-color: #F7EBFF;
    width: 100%;
    padding: 1em;
}

.carrossel {
    /* Margin nas laterais */
    margin: 3rem 10rem 3rem 10rem;

    display:flex;
    justify-content: space-between;
    flex-direction: row;
    gap:2em;
    /* margin: 2.5em 5.4em 2.5em 5.4em; */
    align-items: center;
}

.carrossel p {
    color: #FF7D1E;
}

.carrossel_texto{
    width: 30%;
}

#destaques {
    display: flex;
    flex-direction: column;
    margin: 3em;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    /* Margin nas laterais */
    margin: 5rem 10rem 5rem 10rem;
}

#linhaDestaques{
    display: flex;
    flex-direction: row;
    /* gap: 2rem; */
    justify-content: space-between;
    width: 100%;
}

#tituloDepoimentos {
    background-color: #FF7D1E;
    /* margin-top, margin-right, margin-bottom, e margin-left. */
    /* margin: 0em 30em 1em 0em; */
    width: 40%;
    padding: 0.25rem;
    color: #FFFFFF;
    border-top-right-radius: 10em;
    border-bottom-right-radius: 10em;
    font-family: "Baloo 2", sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#tituloDepoimentos h2 {
    color: #FFFFFF;
    font-family: "Baloo 2", sans-serif;
    font-size: 30px;
    text-align: end;
    padding-right: 4rem;
}

#depoimentos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10em;
    /* margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 5em; */
    /* Margin nas laterais */
    margin: 2rem 10rem 5rem 10rem;
}

/* RESPONSIVO */

  /* Os quadrados dentro da lista de destaques acabam expremidos por um tempo no width 1200, ent troquei por este.
No momento que os quadrados quererem se juntar ele vai debrar linha. */
@media screen and (max-width: 1335px){
    #linhaDestaques{
       
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 2rem;
        gap: 15px;
        
    }
}

@media screen and (max-width: 1200px){
    .carrossel {
        display:flex;
        justify-content: space-around;
        margin: 3rem 0 3rem 0;
        flex-direction: row;
        gap:2em;
        align-items: center;
    }

    .carrossel_texto{ width: 30%; }

    .carrossel_texto img{ width: 20rem; }

    .carrossel_texto p{ font-size: 14px; }
}

@media screen and (max-width: 1024px){
}

/* Tamanho criado por conta do componente carrossel */
@media screen and (max-width: 840px){
    .carrossel {
        display:flex;
        flex-direction: column !important;
    }

    .carrossel_texto{
        width: 90%;
        display: flex !important;
        flex-direction: row !important;
        gap: 2rem;
        margin-bottom: 3rem;
        align-items: start !important;
    }

}
/* Tamanho criado por conta do componente carrossel */

@media screen and (max-width: 768px){
    .carrossel_texto img{ width: 15rem; }

}

@media screen and (max-width: 560px){
    .carrossel_texto{
        width: 90%;
        display: flex !important;
        flex-direction: column !important;
        gap: 0.2rem;
        margin-bottom: 1rem;
    }

    .carrossel_texto p{
        font-size: 12px;
        text-align: center !important;
    }

    .carrossel_texto img{
        width: 13rem;
        align-self: center;
    }
}

@media screen and (max-width: 480px){
	
}

@media screen and (max-width: 320px){
	
}

@media screen and (max-width: 280px){
	
}