#pageAdmin {
    margin: 0 !important;
    
    #tituloPagina {
        color: #FFA15D;
        font-size: 25px !important;
        margin: 1rem;
        text-align: start;
    }

    .centroAdm {
        width: 80%;
        margin: 0 auto; 
        /* padding-top: 2rem; */
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        /* background-color: red; */

        h1 {
            color: #8A00DE;
        }
    }
}

