#fraseEfeito {
    color: #FFA15D;
    margin-top: -20px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .carrossel_texto p{
    color: #8A00DE;
    text-align: end;
  }
  
  .carrossel_texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    align-self: center;
  
  }

  #boxInfoSobre{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .boxInformations p {
    text-align: center;
    color: #ffffff;
}
  
  .boxInformations p {
      text-align: center;
      color: #ffffff;
  }
  
  .boxInformationsDegrade {
      background: linear-gradient(to bottom, #8A00DE, #6B02AB);
      display: flex;
      flex-direction: column;
      justify-content: space-between !important;

      padding: 0rem 10rem 0rem 10rem;
  
    }
    
    /* Estilos para o conteúdo dentro da caixa */
    .boxInformationsDegrade .title {
      color: #FFA15D; /* Cor do título */
      margin-bottom: 1.5rem;
      padding-top: 2.5rem;
      text-align: center;
    }

    .boxInformationsDegrade{
      h3{
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    
    .boxInformationsDegrade .pilares {
      margin-bottom: 2em;
    }
    
    .pilares {
      color: #ffffff; /
    }
  
    .secaoPilares {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
    }
    
    #breadcrumbs {
      margin-left: 5em;
    }

    #img-pilares {
      width: 20rem;
    }

    @media screen and (max-width: 280px){
      .boxInformations p {
        text-align: center;
        max-width: 40%;
      }
      
      .secaoPilares {
        display: flex;
        flex-direction: column;
      }
    
      #img-pilares {
        width: 150px;
      }
    }
    
    @media screen and (max-width: 480px){
      .boxInformations p {
        text-align: center;
        max-width: 60%;
      }
      
      .secaoPilares {
        display: flex;
        flex-direction: column;
      }
    
      /* #img-pilares {
        width: 250px;
      } */
    }

    @media screen and (max-width: 560px){
      /* margin: 0 2rem 0 2rem; */

    }
    
    @media screen and (max-width: 768px){
      #breadcrumbs{
        margin-top: 6em !important;
      }

      .boxInformations p {
        text-align: center;
        max-width: 70%;
      }
      
      .secaoPilares {
        display: flex;
        flex-direction: column;
      }
    
      /* #img-pilares {
        width: 325px;
      } */
    }

    @media screen and (max-width: 920px){
      /* margin: 0 5rem 0 5rem; */
      #boxInfoSobre{
        padding: 0 5rem 0 5rem;
      }

    }
    
    @media screen and (max-width: 1024px){

      /* margin: 0 8rem 0 8rem; */
      .boxInformations p {
        text-align: center;
        max-width: 70%;
      }
      
      .secaoPilares {
        display: flex;
        flex-direction: column;
      }
    
      #img-pilares {
        width: 15rem;
        align-self: flex-end;
      }

      #boxInfoSobre{
        padding: 0 8rem 0 8rem;
      }
    }
    
    @media screen and (max-width: 1200px){
      /* margin: 0 10rem 0 10rem; */
      .boxInformations p {
        text-align: center;
        max-width: 70%;
      }
      
      .secaoPilares {
        display: flex;
        flex-direction: row;
      }
    
      #boxInfoSobre{
        padding: 0 10rem 0 10rem;
      }
      /* #img-pilares {
        width: 400px;
      } */
    }