/* Importando fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:wght@100..900&display=swap');

/* Definições gerais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

body {
    background-color: #EBCBFF;
}

/* Container principal */
.boxInformationsC {
    background-color: #ffff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10em;
    padding-right: 10em;
}

/* Botão "Cadastre um novo cartão" */
.novoCartaoButton {
    width: 322px;
    height: 33px;
    border-radius: 20px; /* Bordas BEM arredondadas */
    border: 2px solid #8A00DE; /* Cor da borda */
    background-color: #FFFFFF; /* Background branco */
    color: #CC78FF; /* Cor da fonte */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px; /* Ajuste o espaçamento conforme necessário */
}

.novoCartaoButton:hover {
    background-color: #8A00DE; /* Altera o background ao passar o mouse */
    color: #FFFFFF; /* Altera a cor da fonte ao passar o mouse */
}

.novoCartao {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Garante que os elementos sejam dispostos em coluna */
}


/* Centralizando todos os elementos do componente no centro da tela */
#meusCartoesCentralize {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #38005AA1;
    justify-content: center;
    align-items: center;
    z-index: 22;
}

/* Definindo o tamanho do container do login */
#meusCartoesContainer {
    margin-top: -250px;
    width: 45%;
    height: 50%;
    z-index: 15;
}

/* Configurando o elemento responsável pelos inputs de login */
#meusCartoesBody {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #ffffff;
    padding: .5rem 3rem;
    z-index: 22;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#centralizeSides {
    display: flex;
    gap: 35px;
}

#leftSide {
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
    width: 25%;
}

#rightSide {
    width: 100%;
}

/* Dando um espaço título dos inputs */
#inputs {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Configurando a aparência dos inputs */
.meuPlanoInputs {
    display: flex;
}

.meuPlanoInputs input {
    background-color: #F3F3F3;
    border-radius: 23px;
    border-color: #f3f3f300;
    padding: .2rem .6rem;
}

.nameInput {
    color: #8A00DE;
    font-weight: 700;  
    margin-right: 15px;
}

#bandeira {
    background-color: #F3F3F3;
    border-radius: 23px;
    border-color: #f3f3f300;
    padding: .2rem .6rem;
}

/* Centralizando os botões do login */
#meusCartoesButtons {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2px;
    margin-bottom: 15px;
}

/* Estilizando os botões de logar e de não possuir cadastro */
#meusCartoesButtons button {
    font-weight: 700;
    cursor: pointer;
    background-color: #FF7D1E;
    color: white;
    padding: .1rem 4rem; 
}

#meusCartoesButtons #cancel {
    background-color: #CC78FF;
}

#meusCartoesButtonsignUp {
    text-decoration: none !important;
}

/* Configuração do campo Plano escolhido */
.selectField label {
    color: #8A00DE;
    font-size: 16px;
    font-weight: 700;
    margin-right: 15px;
}

.selectField select {
    margin-top: 8px;
    background: #CC78FF;
    color: white;
    font-size: 16px;
    font-weight: 300;
    border-radius: 25px;
    border-color: rgba(73, 4, 4, 0);
    padding: .2rem .5rem;
    text-align: left;
    cursor: pointer;
    width: 135px; 
}

.selectField div {
    color: #CC78FF;
    margin-top: 15px;
    margin-left: 10px;
}

.selectField2 {
    display: flex;
}

.selectField2 label {
    color: #8A00DE;
    font-size: 16px;
    font-weight: 700;
    margin-right: 15px;
}

.selectField2 select {
    width: 80px;
}

.meuPlanoTitulo {
    color: #FF7D1E;
    font-size: 18px;
    font-weight: 700;
}

/* Responsividade */
@media screen and (max-width: 1260px) {
    #inputNome, #inputNumero {
        width: 90%;
    }
    #rightSide {
        width: 100%;
    }
}

@media screen and (max-width: 1249px) {
    #rightSide {
        width: 110%;
    }
    #meusCartoesContainer {
        width: 55%;
    }
}

@media screen and (max-width: 1024px) {
    #meusCartoesContainer {
        width: 65%;
    }
}

/* Tamanho criado por conta do componente carrossel */
@media screen and (max-width: 840px) {
    #inputNome, #inputNumero {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    #meusCartoesContainer {
        width: 75%;
    }
}

@media screen and (max-width: 649px) {
    #meusCartoesButtons {
        justify-content: center;
        gap:15px;
    }
}
