/* Importando fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:wght@100..900&display=swap');

#body {
    background-color: #f6e8ff;
} /*  ta como id para não mudar TODAS as paginas para o fundo roxinho dessa */

<<<<<<< HEAD
/*Tornando o componente fixo e centralizado na tela, mesmo que scrollarmos o site para baixo 
o modal vai continuar na mesma posição.*/
#backCartao
{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

/*Centralizando todos os elementos do componente no centro da tela. E definindo o tamanho final do componente*/
#meusCartoesCentralize
{
    width: 100vw;
=======
#boxInfos {
>>>>>>> tela-meuPlano
    height: 100vh;
    overflow: hidden;
}

.boxInformationsC {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #ffffff;
    padding: .5rem 3rem;
    z-index: 22;
    display: flex;
    flex-direction: column;
}

#meusCartoesBody {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#titleCartao {
    font-size: 1.3em;
    color: #FF7D1E;
}

.novoCartao {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Garante que os elementos sejam dispostos em coluna */
    margin-bottom: 1em;
}

/* Botão "Cadastre um novo cartão" */
.novoCartaoButton {
    width: 322px;
    height: 33px;
    border-radius: 20px; /* Bordas BEM arredondadas */
    border: 2px solid #8A00DE; /* Cor da borda */
    background-color: #FFFFFF; /* Background branco */
    color: #CC78FF; /* Cor da fonte */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px; /* Ajuste o espaçamento conforme necessário */
}

.novoCartaoButton:hover {
    background-color: #8A00DE; /* Altera o background ao passar o mouse */
    color: #FFFFFF; /* Altera a cor da fonte ao passar o mouse */
}


/* Dando um espaço título dos inputs */
#inputs_cartoes {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#meusCartoesContainer {
    margin-top: -250px;
    width: 58%;
    height: 50%;
    z-index: 15;
}

.meusCartoesInputs input {
    background-color: #F3F3F3;
    border-radius: 23px;
    border-color: #f3f3f300;
    padding: .2rem .6rem;
}

.nameInput {
    color: #8A00DE;
    font-weight: 700;  
    margin-right: 15px;
}

#bandeira {
    background-color: #F3F3F3;
    border-radius: 23px;
    border-color: #f3f3f300;
    padding: .2rem .6rem;
}

/* Centralizando os botões do login */
#meusCartoesButtons {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2px;
    margin-bottom: 15px;
}

/* Estilizando os botões de logar e de não possuir cadastro */
#meusCartoesButtons button {
    font-weight: 700;
    cursor: pointer;
    background-color: #FF7D1E;
    color: white;
    padding: .1rem 4rem; 
}

#meusCartoesButtons #cancel {
    background-color: #CC78FF;
}

<<<<<<< HEAD
/*Os elementos com a classe hideCartao, devem ficar invisiveis*/
#meusCartoesCentralize.hideCartao, #backCartao.hideCartao
{
    opacity: 0;
    pointer-events: none;
}

/*Configurando o protótipo da animação de aparecimento, juntando com o código da classe hideCartao, se cria o efeito:
Aparecer e desaparecer*/
#meusCartoesCentralize, #backCartao
{
    opacity: 1;
    transition: .5s;
    pointer-events: all;
}

/*Estilizando os botões responsáveis por abrir e fechar o modal*/
#openModal
{
    margin-top: 25px;
    margin-left: 5px;
    cursor: pointer;
}

#closeModal
{
    position: relative;
    border-radius: 50px;
    padding: .5rem .7rem;
    background-color: #ffffff00;
    transition: .2s;
    margin-left: 100%;
    top: 10px !important;
}

#closeModal img{
    width: 1.5rem;
}

#closeModal:hover
{
    transition: .2s;
    background-color: #FF7D1E;
}

=======
>>>>>>> tela-meuPlano
#meusCartoesButtonsignUp {
    text-decoration: none !important;
}

/* Configuração do campo Plano escolhido */
.selectField label {
    color: #8A00DE;
    font-size: 16px;
    font-weight: 700;
    margin-right: 15px;
}

.selectField select {
    margin-top: 8px;
    background: #CC78FF;
    color: white;
    font-size: 16px;
    font-weight: 300;
    border-radius: 25px;
    border-color: rgba(73, 4, 4, 0);
    padding: .2rem .5rem;
    text-align: left;
    cursor: pointer;
    width: 135px; 
}

.selectField div {
    color: #CC78FF;
    margin-top: 15px;
    margin-left: 10px;
}

.selectField2 {
    display: flex;
}

.selectField2 label {
    color: #8A00DE;
    font-size: 16px;
    font-weight: 700;
    margin-right: 15px;
}

.selectField2 select {
    width: 80px;
}

.meuPlanoTitulo {
    color: #FF7D1E;
    font-size: 18px;
    font-weight: 700;
}

/* Responsividade */
@media screen and (max-width: 1260px) {
    #inputNome, #inputNumero {
        width: 90%;
    }
    #rightSide {
        width: 100%;
    }
}

@media screen and (max-width: 1249px) {
    #rightSide {
        width: 110%;
    }
    #meusCartoesContainer {
        width: 55%;
    }
}

@media screen and (max-width: 1024px) {
    #meusCartoesContainer {
        width: 65%;
    }
}

/* Tamanho criado por conta do componente carrossel */
@media screen and (max-width: 840px) {
    #inputNome, #inputNumero {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    #meusCartoesContainer {
        width: 75%;
    }
}

@media screen and (max-width: 649px) {
    #meusCartoesButtons {
        justify-content: center;
        gap:15px;
    }
}
