@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.title {
    font-family: "Baloo 2", sans-serif;
}

body {
    background-color: #FFF9F5;
    margin-top: 4rem !important;
}

/* Só para testar  */
.boxInformations {
    background-color: #8A00DE;
    width: 100%;
    display:flex;
    /* justify-content: center; */
    align-items: flex-start;
    justify-content: space-between;

    /* Margin nas laterais */
    padding: 2rem 10rem 3rem 10rem;
}

#barraLinks {
    padding-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-family: "Baloo 2", sans-serif;
    justify-content: center;
    flex-wrap: wrap;
}

#barraLinks button{
    font-family: "Baloo 2", sans-serif !important;
    color: #ffffff !important;
    font-weight: 700;
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    scale: 1;
}

#fundoLaranja {
    background-color: #FFA15D;
}

#fundoRoxoClaro {
    background-color: #CC78FF;
}


/* RESPONSIVO */

@media screen and (max-width: 1200px){
    .boxInformations {
        padding-bottom: 2em;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: flex-start;
        justify-content: space-around;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}

@media screen and (max-width: 1024px){
	
}


@media screen and (max-width: 768px){

    body{
        margin-top: 4.5rem !important;
    }
    
    .boxInformations {
        padding-top: 1rem !important;
        padding-bottom: 4rem !important;
        flex-direction: column !important;
        flex-wrap: wrap;
        padding-left: 0 !important;
        padding-right: 0 !important;
        gap: 2rem;
    }

    .linksExternos {
        display: none !important;
    }
	
}

@media screen and (max-width: 560px){
    #barraLinks button{
        font-size: 12px !important;
    }
    #barraLinks {
        margin-top: 1rem;
        gap: 0.5rem;
    }
    
}

@media screen and (max-width: 480px){
	
}

@media screen and (max-width: 320px){
	
}

@media screen and (max-width: 280px){
	
}