#boxVideo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Margin nas laterais */
    margin: 5rem 10rem 6rem 10rem;
}

.title {
    font-size: 35px;
    line-height: 1 !important;

}

#textVideo {
    margin-top: 1em;
    margin-right: 8em;
    color: #CE5700;
}

#video {
    width: 45rem;
    height: 25rem;
    border-radius: 2em;
}

#boxInfoVideo {
    width: 35%;
}


/* RRESPONSIVO */

@media screen and (max-width: 1200px){
    #video {
        width: 40em;
        height: 21rem;
        border-radius: 1em;
    }
}

@media screen and (max-width: 1024px){
	#boxVideo {
        margin: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6em;
    }
    #boxInfoVideo {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .title {
        font-size: 2.5em !important;
        text-align: center;
    }
    #textVideo {
        font-size: 15px !important;
        margin: 0em;
        text-align: center;
    }
    #video {
        width: 35em;
        height: 19.7em;
        border-radius: 1em;
    }

}

@media screen and (max-width: 768px){
    #boxVideo {
        margin: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6em;
    }
    #boxInfoVideo {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .title {
        font-size: 2em !important;
        text-align: center;
    }
    /* #textVideo {
        font-size: 1.2em !important;
        margin: 0em;
        text-align: center;
    } */
    #video {
        width: 30em;
        height: 16.9em;
        border-radius: 1em;
    }
}

@media screen and (max-width: 560px){
    #boxVideo {
        margin: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6em;
    }
    #boxInfoVideo {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .title {
        font-size: 1.9em !important;
        text-align: center;
    }
    /* #textVideo {
        font-size: 1em !important;
        margin: 0em;
        text-align: justify;
    } */
    #video {
        width: 24em;
        height: 13.5em;
        border-radius: 1em;
    }
}

@media screen and (max-width: 480px){
	#boxVideo {
        margin: 0.5em;
    }
    #boxInfoVideo {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .title {
        font-size: 1.6em !important;
        text-align: center;
    }
    /* #textVideo {
        font-size: 0.9em !important;
        margin: 0em;
        text-align: justify;
    } */
    #video {
        width: 100%;
        height: auto;
        border-radius: 1em;
    }
}

@media screen and (max-width: 320px){
	#boxVideo {
        margin: 0.5em;
    }
    #boxInfoVideo {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .title {
        font-size: 1.6em !important;
        text-align: center;
    }
    /* #textVideo {
        font-size: 0.9em !important;
        margin: 0em;
        text-align: justify;
    } */
    #video {
        width: 100%;
        height: auto;
        border-radius: 1em;
    }
}

@media screen and (max-width: 280px){
	#boxVideo {
        margin: 0.5em;
    }
    #boxInfoVideo {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .title {
        font-size: 1.6em !important;
        text-align: center;
    }
    /* #textVideo {
        font-size: 0.9em !important;
        margin: 0em;
        text-align: justify;
    } */
    #video {
        width: 100%;
        height: auto;
        border-radius: 1em;
    }
}